<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Meters</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: vm.isDashboardActive()}"><a href="#/dashboard">Dashboard</a></li>
                <li class="dropdown" ng-class="{active: vm.isIndicationsActive()}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Indications <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/indications?meter={{meter.id}}" ng-repeat="meter in vm.meters">{{meter.name}}</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right padding-r15px">
                <li>
                    <a href="javascript:$('#uploadModal').modal()">Add</a>
                </li>
                <li>
                    <p class="navbar-btn">
                        <a href="#/recognize" class="btn" ng-bind="vm.unrecognized.length"
                           ng-class="vm.unrecognized.length > 0 ? 'btn-warning': 'btn-default disabled'"></a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</nav>

<app-upload app-target-id="uploadModal"></app-upload>
